<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Colorlight - 李伟光</title>
	<link rel="shortcut icon" type="image/png" href="../img/favicon.png">
	<link rel="icon" type="image/png" href="../img/favicon.png">
	<meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1">	
	<link rel="stylesheet" href="../css/normalize.css">
	<link rel="stylesheet" href="../fonts/iconfont/iconfont.css">
	<link rel="stylesheet" href="../css/main.css">
	<link rel="stylesheet" media=(max-width:800px) href="../css/mobile.css">
	<link rel="stylesheet" href="../css/blog_base.css">
	{% block currblogcss %}{% endblock %}
</head>
<body>

	<nav class="mobile-bar">
		<a href="https://colorlight.me" class="home iconfont home-link">
			&#xe611;	
		</a>

		<a href="javascirpt:;">
			<div id="item-btn" class="item iconfont">
				&#xe600;
			</div>
		</a>

		<script>
			var itemBtn = document.getElementById('item-btn');
			var blockOpen = true;
			itemBtn.onclick = function(){
				var socialBlock =  document.getElementsByClassName("social-block")[0];
				socialBlock.classList.toggle('social-block-down');
				if(blockOpen){
					this.innerHTML='&#xe630;';
					blockOpen = false;
				}else{
					this.innerHTML="&#xe600;";
					blockOpen = true;
				}
			}
		</script>
		<div class="social-block">
			<div class="mobile-social-container">
				<div class="char-block">
					<ul>
						<li><a href="">主页</a></li>
						<li><a href="">博客</a></li>
						<li><a href="">简历</a></li>
						<li><a href="">杂货铺</a></li>
					</ul>
				</div>
				<div class="social-icon">
					<ul>
						<li class="iconfont">
							<a href="">&#xe69f;</a>
						</li>
						<li class="iconfont">
							<a href="">&#xe69c;</a>
						</li>
						<li class="iconfont">
							<a href="">&#xe6d1;</a>
						</li>
						<li class="iconfont">
							<a href="">&#xe60a;</a>
						</li>
						<li class="iconfont">
							<a href="">&#xe6d2;</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</nav>

	<header class="pannel-cover pannel-collapse">
		<div class="panel-main">
			<div class="panel-main_inner panel-inverted">
				<div class="pannel-main_content">
					<a href="https://colorlight.me">
						<img class=pannel-cover_logo src="../img/colorlightWhite.png" alt="colorlight">
					</a>
					
					<div class="navigation-wrapper">
						<div>
							<nav class="cover-navigation">
								<ul class="navigation">
									<li class="navigation-item"><a href="https://colorlight.me">主页</a></li>
									<li class="navigation-item"><a href="/static/blog/blog.html">博客</a></li>
									<li class="navigation-item"><a href="/resume">简历</a></li>
									<li class="navigation-item"><a href="/login">杂货铺</a></li>
								</ul>
							</nav>
						</div>
						<div class="navigation-social">
							<nav class="cover-navigation">
								<ul class="navigation">
									<li class="navigation-item">
										<a href="https://github.com/colorlight" title="github">
											<span class="social iconfont">&#xe69f;</span>
										</a>
									</li>
									<li class="navigation-item">
										<a href="http://note.youdao.com/share/?id=79165cc9db130ed8b096e3e06efa3dbb&type=notebook#/" title="youdao-note">
											<span class="social iconfont">&#xe69c;</span>
										</a>
									</li>
									<li class="navigation-item">
										<a href="https://www.zhihu.com/people/li-wei-guang-57" title="知乎">
											<span class="social iconfont">&#xe6d1;</span>
										</a>
									</li>
									<li class="navigation-item">
										<a href="http://weibo.com/5526426181/profile?topnav=1&wvr=6&is_all=1" title="微博">
											<span class="social iconfont">&#xe60a;</span>
										</a>
									</li>
									<li class="navigation-item">
										<a href="https://codepen.io/colorlight/" title="codePen">
											<span class="social iconfont">&#xe6d2;</span>
										</a>
									</li>
								</ul>
							</nav>	

						</div>
					</div>
				</div>


			</div>
			<div class="cover-overlay cover-slate"></div>
		</div>
	</header>
	

	<div class="content-wrapper">
		
		<div class="content-wrapper_inner">
			{% block content %}
			<div class="main-post-list">
				<ol class="post-list">
					<li>
						<h2 class="post-list_post-title">
							<a href="">
								Shadowsocks + 锐速 + Vultr极速科学上网
							</a>
						</h2>	
						<p class="excerpt">
							Shadowsocks是使用Python、C++、C#以及Go等语言开发、基于Apache许可证的开放源代码软件，用于保护网络流量、加密数据传输以及突破中国网络审查。<br>
							Shadowsocks使用Socks5代理方式。Shadowsocks分为服务器端	和客户端。在使用之前，需要先将服务器端部署到服务器上面，然后通过客户端连接并创建本地代理。
						</p>
						<div class="post-list_meta">
							<time datetime="2017年5月1日" class="post-list_meta-date date">2017年5月1日</time>
							<span class="post-list_meta-tag tag"></span>
							
							<a href="" class="btn-border-small">阅读全文</a>
						</div>
						<hr class="post-list-divider">
					</li>

					<li>
						<h2 class="post-list_post-title">
							<a href="">
								Shadowsocks + 锐速 + Vultr极速科学上网
							</a>
						</h2>	
						<p class="excerpt">
							Shadowsocks是使用Python、C++、C#以及Go等语言开发、基于Apache许可证的开放源代码软件，用于保护网络流量、加密数据传输以及突破中国网络审查。<br>
							Shadowsocks使用Socks5代理方式。Shadowsocks分为服务器端	和客户端。在使用之前，需要先将服务器端部署到服务器上面，然后通过客户端连接并创建本地代理。
						</p>
						<div class="post-list_meta">
							<time datetime="2017年5月1日" class="post-list_meta-date date">2017年5月1日</time>
							<span class="post-list_meta-tag tag"></span>
							
							<a href="" class="btn-border-small">阅读全文</a>
						</div>
						<hr class="post-list-divider">
					</li>
					
					<li>
						<h2 class="post-list_post-title">
							<a href="">
								Shadowsocks + 锐速 + Vultr极速科学上网
							</a>
						</h2>	
						<p class="excerpt">
							Shadowsocks是使用Python、C++、C#以及Go等语言开发、基于Apache许可证的开放源代码软件，用于保护网络流量、加密数据传输以及突破中国网络审查。<br>
							Shadowsocks使用Socks5代理方式。Shadowsocks分为服务器端	和客户端。在使用之前，需要先将服务器端部署到服务器上面，然后通过客户端连接并创建本地代理。
						</p>
						<div class="post-list_meta">
							<time datetime="2017年5月1日" class="post-list_meta-date date">2017年5月1日</time>
							<span class="post-list_meta-tag tag"></span>
							
							<a href="" class="btn-border-small">阅读全文</a>
						</div>
						<hr class="post-list-divider">
					</li>

					<li>
						<h2 class="post-list_post-title">
							<a href="">
								Shadowsocks + 锐速 + Vultr极速科学上网
							</a>
						</h2>	
						<p class="excerpt">
							Shadowsocks是使用Python、C++、C#以及Go等语言开发、基于Apache许可证的开放源代码软件，用于保护网络流量、加密数据传输以及突破中国网络审查。<br>
							Shadowsocks使用Socks5代理方式。Shadowsocks分为服务器端	和客户端。在使用之前，需要先将服务器端部署到服务器上面，然后通过客户端连接并创建本地代理。
						</p>
						<div class="post-list_meta">
							<time datetime="2017年5月1日" class="post-list_meta-date date">2017年5月1日</time>
							<span class="post-list_meta-tag tag"></span>
							
							<a href="" class="btn-border-small">阅读全文</a>
						</div>
						<hr class="post-list-divider">
					</li>
				</ol>
				<nav class="page" role="navigation">
					<span class="page-page_number">当前第 1 页 / 共 2 页</span>
					<a href="" class="page-btn page-btn_left-dist">下一页 </a>
				</nav>
				<hr class="post-list-divider last-hr">
			</div>
			{% endblock%}

			<footer class="footer">
				<span class="footer-copyright">
					&copy 2017  All rights reserved.
				</span>
				<span class="footer-copyright">
					李伟光-<a href="https://colorlight.me">colorlight</a> 版权所有
				</span>
			</footer>
		</div>
	
	</div>

	<script>
		var e = document.getElementsByClassName('pannel-cover')[0];
		window.onload = function(){
			setTimeout('e.classList.add(\'panel-cover-collapse\')', 10);	
		}
	</script>
</body>
</html>